<div class="widget stacked">   
  <div class="widget-header">
    <h3>
      <% if @job_site.nil? %>
        Job Site
      <% else %>
        <%= @job_site.name %>
      <% end %>
    </h3>
  </div> <!-- /widget-header -->
  
  <div class="widget-content">
    <% unless @phases.nil? %>
      <% @phases.each do |phase| %>
        <div class="row">
          <h4><b><%= phase.name %><b> - <%= phase.left_budget_percent %>% </h4>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Lot No</th>
                <th>Budget Progress</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% phase.lots.each do |lot| %>
              <tr>
                <td><%= lot.id %></td>
                <td><%= lot.name %></td>
                <td>
                  <div class="progress">
                    <% progress = lot.left_budget_percent %>
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress %>%;">
                      <span><%= progress %>% of budget left</span>
                    </div>
                  </div>
                </td>
                <td><%= link_to "Purchase", "/new_purchase_order?lot_id=#{lot.id}&developer_id=#{@developer_id}&job_site_id=#{@job_site.id}", class: "btn btn-primary btn-sm" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>
  </div> <!-- /widget-content -->
</div>