<div id="add-jobsite" class="modal fade" role="dialog">
  <%= simple_form_for :job_site, url: job_sites_path, :html => {:method => :post, :class => 'form-horizontal' } do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h4>Add Job Site</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :name, "Name", class: "col-sm-3" %>
          <div class="col-sm-8">
            <%= f.input_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :location, "Location", class: "col-sm-3" %>
          <div class="col-sm-8">
            <%= f.input_field :location, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :user_id, "Supervisor", class: "col-sm-3" %>
          <div class="col-sm-8">
            <%= f.input_field :user_id, collection: @supervisors, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :developer_id, "Builder", class: "col-sm-3" %>
          <div class="col-sm-8">
            <%= f.input_field :developer_id, collection: Developer.all, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :supplier_id, "Supplier", class: "col-sm-3" %>
          <div class="col-sm-8">
            <%= f.input_field :supplier_id, collection: Supplier.all, class: "form-control" %>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <%= f.submit "Create", :class => "btn btn-default" %>
        <a class="btn btn-default" data-dismiss="modal" href="#">Cancel</a>
      </div>
    </div>
  </div>
  <% end %>
</div>