<% if current_panel == "admin" %>
	<div class="widget stacked">
		<div class="widget-header">
	    <i class="icon-th"></i>
	    <h3>Admin Panel</h3>
	  </div> <!-- /widget-header -->
	  <div class="widget-content">
			<ul class="nav nav-pills nav-stacked">
				<li <%= active_left_bar "developers" %> ><a href="/developers">Developers</a></li>
				<li <%= active_left_bar "job_sites" %> ><a href="/job_sites">Job Sites</a></li>
				<li <%= active_left_bar "suppliers" %> ><a href="/suppliers">Suppliers</a></li>
				<li <%= active_left_bar "products" %> ><a href="/products">Products</a></li>
				<li <%= active_left_bar "purchase_orders" %> ><a href="/purchase_orders">Purchase Orders</a></li>
			</ul>
	  </div>
	</div>
<% elsif current_panel == "logs" %>
	<div class="widget stacked">
		<div class="widget-header">
	    <i class="icon-th"></i>
	    <h3>Logs</h3>
	  </div> <!-- /widget-header -->
	  <div class="widget-content">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#">Event Logs</a></li>
				<li><a href="#">Emails</a></li>
			</ul>
	  </div>
	</div>
<% elsif current_panel == "settings" %>
	<div class="widget stacked">
		<div class="widget-header">
	    <i class="icon-th"></i>
	    <h3>Settings</h3>
	  </div> <!-- /widget-header -->
	  <div class="widget-content">
			<ul class="nav nav-pills nav-stacked">
				<li <%= active_left_bar "users" %> ><a href="/users">Users</a></li>
				<li><a href="/products">Email Template</a></li>
				<li><a href="#">Tax Setting</a></li>
				<li><a href="#">Unit Setting</a></li>
			</ul>
	  </div>
	</div>
<% elsif current_panel == "home" %>
	<div class="widget stacked widget-table action-table">
		<div class="widget-header">
	    <i class="icon-th"></i>
	    <h3>Developers</h3>
	  </div> <!-- /widget-header -->
	  <div class="widget-content">
	  	<% unless @developers.nil? %>
		  	<div class="panel-group accordion">
				<% @developers.each do |developer| %>
				  <div class="panel panel-default <%= 'open' if @developer_id.to_i == developer.id %>">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapse<%= developer.id %>">
				          <%= developer.name %>
				        </a>
				      </h4>
				    </div>
				    <div id="collapse<%= developer.id %>" class="panel-collapse collapse <%= 'in' if @developer_id.to_i == developer.id %>">
				      <div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<% developer.job_sites.each do |js| %>
										<li class="<%= active_job_site_class(js.id) %>">
											<%= link_to js.name, "?job_site_id=#{js.id}&developer_id=#{developer.id}" %>
										</li>
									<% end %>
								</ul>
				      </div>
				    </div>
				  </div>
				<% end %>
				</div>
			<% end %>
	  </div>
	</div>
<% end %>