	<div class="widget stacked widget-table action-table">
	  <div class="widget-content min-height-200">
		  <div class="panel-group accordion" id="products">
				<% ["Physical Product", "Digital Product", "Service", "Donation"].each do |product| %>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <%= link_to "<i class='icon-edit'></i> #{product}".html_safe, "#", class: "new-product-link" %>
				      </h4>
				    </div>
				  </div>
				<% end %>
			</div>

			<div id="new-product-div" class="display-none">
				<div class="widget-header" id="leftbar-header">
			    <i class="icon-job_site"></i>
			    <h3>
			    	Add Product
			    	<span class="pull-right"><a id="back-to-product-menu"></a></span>
			    </h3>
			  </div> <!-- /widget-header -->
			  <div class="padding-20">
					<%= simple_form_for Product.new do |f| %>
						<%= f.input_field :name, class: "form-control form-group", placeholder: "Product Title" %>
						<%= f.input_field :description, class: "form-control form-group", placeholder: "Product Description" %>
						<%= f.input_field :price, class: "form-control form-group", placeholder: "Free" %>
						<%= f.input_field :quantity, class: "form-control form-group", placeholder: "Unlimited" %>
						<%= f.input_field :photo, class: "hidden" %>

						<div class="form-group">
	            <a class="btn btn-default pull-left product_photo_link">
	            	<i class="icon-picture"></i> Cover Photo
	            </a>
	            <%= f.submit "Add", :class => "btn btn-default pull-right" %>
	         	</div>
					<% end %>
				</div>
			</div>
	  </div>
	</div>